.voucher-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  gap: 1rem;
  margin: 0 4rem;
}

.voucher-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  max-height: 15rem;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: linear-gradient(to bottom right, #2563eb, #1e40af);
}

.voucher-left {
  width: 100%;
  max-width: 30%;
  max-height: 15rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.store-logo {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  object-fit: cover;
}

.store-name {
  color: white;
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.125rem;
}

.voucher-right {
  width: 100%;
  max-width: 70%;
  max-height: 15rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.discount {
  font-size: 1.875rem;
  font-weight: 800;
  color: #1e3a8a;
  margin-bottom: 0.5rem;
}

.code {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1e40af;
  background-color: #dbeafe;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}

.order-range {
  font-size: 0.875rem;
  color: #4b5563;
  /* margin-top: 0.5rem; */
}

.order-range span {
  font-weight: 600;
  color: #1e3a8a;
}

/* .usage-section {
    margin-top: rem;
  } */

.usage-text {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.usage-text span:last-child {
  font-weight: 600;
  color: #1e3a8a;
}

.progress-bar {
  width: 100%;
  height: 0.5rem;
  background-color: #dbeafe;
  border-radius: 9999px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(to right, #2563eb, #1e40af);
  transition: width 0.3s ease;
}

.save-button {
  margin-top: 0rem;
  background: linear-gradient(to right, #2563eb, #1e40af);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.save-button-used {
  opacity: 0.6;
}

.save-button:hover {
  background: linear-gradient(to right, #1d4ed8, #1e3a8a);
  transform: translateY(-1px);
}
